@use "../../style/partials/__variable" as *;
@use "../../style/partials/__mixin" as *;
@use "../../style/partials/__typography" as *;
@use "../../style/partials/__reset" as *;
.register {
  font-family: "prata";
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background-light;
  &--dark {
    background-color: $background-dark;
    color: $text-secondary;
    .register__form {
      background-color: lighten($background-dark, 10%);
    }
  }
  &--light {
    background-color: $background-light;
    color: $text-primary;
    .register__form {
      background-color: darken($background-light, 10%);
    }
  }
  &__form {
    width: 300px;
    height: 90%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    @include tablet {
      height: 85%;
      flex-direction: row;
      width: 650px;
      display: flex;
      padding: 1rem;
      padding-bottom: 1.5rem;
      border-radius: 10px;
    }
    @include desktop {
      align-items: end;
      flex-direction: column;
      width: 900px;
      padding: 1rem 2rem 2rem 2rem;
      position: relative;
      background-color: #fff;
      border-radius: 25px;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @include desktop {
        width: 50%;
      }
    }
  }
  &__logo {
    display: none;
    @include desktop {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.7;
      width: 42.25%;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    @include big {
      width: 47.75%;
    }
  }
  &__title {
    font-size: 1rem;
    @include center;
    margin-top: 1rem;
    @include tablet {
      font-size: 1.5rem;
      width: 50%;
      margin-top: 0;
    }
    @include desktop {
      font-size: 1.25rem;
    }
    &-text {
      margin: 0;
      margin-bottom: 1rem;
      border-bottom: 5px solid $accent-secondary;
    }
  }
  &__input {
    &-boxes {
      font-size: 1rem;
      display: flex;
      flex-direction: column;

      @include tablet {
        gap: 0.5rem;
        width: 100%;
        font-size: 0.75rem;
      }
      @include desktop {
        font-size: 1rem;
        gap: 0;
      }
      @include big {
        gap: 0.75rem;
      }
    }
    &-box {
      @include tablet {
        display: flex;
        align-items: center;
        position: relative;
      }
      margin-bottom: 1rem;
    }
    &-name {
      width: 100%;
      margin-left: 2rem;
      @include tablet {
        width: 30%;
        margin-left: 0;
      }
      @include desktop {
        width: 35%;
      }
    }
    &-type {
      width: 80%;
      margin-left: 2rem;
      margin-top: 0.5rem;
      @include tablet {
        width: 80%;
        margin-left: 0;
        margin-top: 0;
      }
      padding: 0.5rem 1rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      &:focus {
        border-color: $accent-color;
      }
      &::placeholder {
        color: #ddd;
        font-size: 0.75rem;
        @include desktop {
          font-size: 1rem;
        }
      }
      &-select {
        width: 80%;
        padding: 0.5rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        &:focus {
          border-color: $accent-color;
        }
        @include tablet {
          width: 100%;
        }
      }
    }
    &-password {
      font-size: 0.75rem;
      display: flex;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      align-items: center;
      margin-left: 2rem;
      @include tablet {
        margin-left: 0;
        margin-bottom: 1rem;
      }
    }
    &-container {
      display: flex;
      justify-content: center;
      align-items: baseline;
      gap: 1.5rem;
      position: relative;
      @include tablet {
        gap: 3rem;
      }
      @include desktop {
        display: block;
      }
    }
  }
  &__btn {
    &-input {
      width: 120%;
      @include tablet {
        width: 200%;
      }
      @include desktop {
        width: 100%;
      }
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      background-color: $secondary-color;
      color: $button-text;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
  &__text {
    position: absolute;
    margin-top: 1rem;
    text-align: center;
    top: 1.5rem;
    font-size: 0.875rem;
    @include tablet {
      top: 2rem;
    }
    @include desktop {
      position: relative;
      top: 0;
    }
    &-link {
      cursor: pointer;
      color: $accent-color;
      text-decoration: underline;
      &:hover {
        color: darken($accent-color, 10%);
      }
    }
  }
}
