@use "../../style/partials/__variable" as *;
@use "../../style/partials/__mixin" as *;
@use "../../style/partials/__typography" as *;
@use "../../style/partials/__reset" as *;

.login {
  font-family: "prata";
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background-light;
  &--dark {
    background-color: $background-dark;
    color: $text-secondary;
    .login__form {
      background-color: lighten($background-dark, 10%);
    }
  }
  &--light {
    background-color: $background-light;
    color: $text-primary;
    .login__form {
      background-color: darken($background-light, 10%);
    }
  }

  &__form {
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    @include tablet {
      width: 700px;
    }
    @include desktop {
      position: relative;
      width: 900px;
      display: flex;
      flex-direction: column;
      align-items: end;
      border-radius: 25px;
    }
  }
  &__logo {
    display: none;
    @include desktop {
      display: block;
      width: 56%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.7;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }
  &__title-container {
    @include center;
    width: 100%;
    @include desktop {
      display: flex;
      justify-content: end;
    }
    &-text {
      width: 25%;
      font-size: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 5px solid $accent-secondary;
      @include tablet {
        width: 10%;
      }
      @include desktop {
        margin-right: 8rem;
        font-size: 2rem;
      }
    }
  }

  &__field {
    margin-bottom: 15px;
    @include desktop {
      display: flex;
      align-items: baseline;
      gap: 1rem;
      margin-right: 2rem;
    }
    &-label {
      display: block;
      font-size: 0.75rem;
      margin-bottom: 5px;
      @include desktop {
        font-size: 1rem;
      }
    }
    &-input {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      margin-top: 0.5rem;
      border: none;
      background-color: $input-background;
      &:focus {
        border: 1px solid $accent-color;
      }
    }
    &-btn {
      width: 100%;
      padding: 10px;
      background-color: $secondary-color;
      border: none;
      border-radius: 5px;
      color: $button-text;
      cursor: pointer;
    }
    &-register {
      font-size: 0.85rem;
    }
  }

  &__show-password {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 1rem;
    input {
      margin-right: 5px;
    }
  }
}
