$primary-color: #3498db;
$dark-color: #2c3e50;
$light-color: #ecf0f1;
$dark-bg: #34495e;
$light-bg: #fff;
$text-dark: #2c3e50;
$text-light: #ecf0f1;
$exSmall: 0.75rem;
$small: 0.875rem;
$regular: 1.5rem;
$big: 2rem;
