@use "../../style/partials/__variable" as *;
@use "../../style/partials/__mixin" as *;
@use "../../style/partials/__typography" as *;
@use "../../style/partials/__reset" as *;

.home {
  background-color: $background-light;
  color: $text-primary;
  @include font;

  &--dark {
    background-color: $background-dark;
    color: $text-secondary;
  }

  &-containers {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &-container {
    display: flex;
    position: relative;
    @include tablet {
      width: 50%;
    }

    &-clockin,
    &-inventory,
    &-signup,
    &-login {
      width: 50%;
      @include center;
      flex-direction: column;
      @include tablet {
        width: 30vw;
      }

      &-title {
        font-size: 1rem;
        @include tablet {
          font-size: 1.5rem;
        }
      }

      &-btn {
        width: 90%;
        height: 30px;
        @include button;
        @include tablet {
          height: 40px;
          width: 150px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 2rem;
          padding-left: 0;
        }
      }

      &-img {
        position: absolute;
        width: 24px;
        left: 1.5rem;
        top: 4rem;
        @include tablet {
          width: 30px;
          position: relative;
          top: 0;
          left: 0.75rem;
        }
      }
    }
  }

  &-wrapper {
    display: flex;
    position: relative;
    @include tablet {
      justify-content: space-between;
      width: 50vw;
    }

    &-signup,
    &-login {
      width: 50%;
      @include center;
      flex-direction: column;
      @include tablet {
        width: 30vw;
      }

      &-title {
        font-size: 1rem;
        @include tablet {
          font-size: 1.5rem;
        }
      }

      &-btn {
        width: 90%;
        height: 30px;
        @include button;
        @include tablet {
          height: 40px;
          width: 150px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 2.5rem;
          padding-left: 0;
        }
      }

      &-img {
        position: absolute;
        width: 24px;
        left: 1.5rem;
        top: 4rem;
        @include tablet {
          width: 30px;
          position: relative;
          top: 0;
          left: 0.75rem;
        }
      }
    }
  }
}
